<div>
    <h2>Welcome @ViewBag.user.UserName to LaunchCode Spa!</h2>
</div>

<div>
    <a class="navbar-brand" asp-area="" asp-controller="Spa" asp-action="Index">SpaDay</a>
</div>

<div>
    <p>Username: @ViewBag.user.UserName</p>
    <p>Email: @ViewBag.user.Email</p>
    <p>Joined: @ViewBag.user.DateCreated</p>
    
</div>
